# Gmail API Configuration
GOOGLE_CLIENT_ID=609804117813-j30vd87t60ckocrat6c1aqobecp4s3dc.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REFRESH_TOKEN=1//0cJUweKr6gOeoCgYIARAAGAwSNwF-L9IrQsBHbqs8JEpakLr58a1OAN_vYGiBEmUVeL9MbXLie9yJ5AU9zSSqcZbC1Ygqljzgey4


# Gemini AI Configuration
GEMINI_API_KEY=AIzaSyCW0M_TvK1iHiEEz-5spDH6jW0LCfvTt1o

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here

# Vercel KV Configuration (automatically provided by Vercel)
KV_REST_API_URL=
KV_REST_API_TOKEN=

# Optional: Urgency threshold (default: 4)
URGENCY_THRESHOLD=4